html {
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  box-sizing: border-box;
  background-image: url("/images/bgdesk.png");
  background-color: hsl(0, 100%, 74%);
}



/* =============================== PAGE ============================*/

.page {
  display: flex;
  flex-direction: row;
  max-width: 90em;
  height: 50em;
  margin: 8em auto;
  justify-content: center;
}


/* =============================== PAGE ============================*/

/* =============================== TEXT ============================*/

.text {
height: 33.75em;
max-width: 34em;
width: 100%;
font-size: 1em;
margin-right: 2em;
margin-left: 4em;
}

h1 {
  padding-right: 1em;
  font-size: 3.1em;
  margin-top: 2.5em;
}

/* =============================== TEXT ============================*/

/* =============================== SIGNUP ============================*/
.signup {
  height: 40.75em;
  width: 33.75em;
  margin-right: 4em;
}

a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}

.linkheader a {
  background-color: hsl(248, 32%, 49%);
  border-radius: .5em;
  display: inline-block;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  box-shadow: 0px 9px 4px 0px rgba(0,0,0,0.3);
}

.linkheader a:hover {
  background-color: hsl(246, 20%, 60%);
}

/* ---------------------- FORM ------------------*/
.signupform {
display: block;
background-color: white;
height: auto;
margin-top: 2em;
border-radius: .5em;
padding: 3em;
box-shadow: 0px 9px 4px 0px rgba(0,0,0,0.3);
width: 27.7em;
}

.box {
  margin-top: -1.5em;
}


input {
  display: block;
  width: 98%;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: .5em;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-indent: 2em;
  margin-top: 1.5em;
}

.form-control.error input {
  border: 1px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.form-control img {
  display: none;
  transform: translate(1650%, -180%);
  position: absolute;
}


button {
  background-color: hsl(154, 59%, 51%);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  color: white;
  width: 100%;
  border: none;
  padding-top: .8em;
  padding-bottom: .8em;
  border-radius: .5em;
  box-shadow: 0px 5px 2px 0px hsl(154, 59%, 35%);
  margin-top: 1.5em;
}

.signupform p {
  color: hsl(246, 25%, 77%);
  font-size: .6em;
  text-align: center;
  padding-top: 1.5em;
}

.signupform a {
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}

.signupform small {
  color: hsl(0, 100%, 74%);
  text-align: right;
  margin-top: .5em;
  text-align: right;
  display: block;
}



/* ---------------------- FORM ------------------*/

/* =============================== SIGNUP ============================*/


/* ################################ MOBILE ################################# */

@media only screen and (max-width: 900px) {

  .page {
    flex-direction: column;
    margin: auto;
    max-width: 25em;
    height: auto;
    width: 100%;
  }

  .signup {
    height: 40.75em;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10em;
  }

  .linkheader a {
    text-align: none;

  }

.signtext {
  display: block;
  padding-left: 5em;
  padding-right: 5em;
}


.text {
margin-right: 0;
text-align: center;
height: auto;
margin-top: -2em;
margin-bottom: 2em;
margin-left: 0;
}

.text p {
  line-height: 2;
}

h1 {
  padding-right: 0;
}

.signupform {
  padding: 2em;
  width: 21em;
}

.signupform p {
  padding-left: 2em;
  padding-right: 2em;
}

.form-control img {
  transform: translate(1250%, -180%);
}


}



/* ################################ MOBILE ################################# */
